.div0{
    display: inline-flex;
}
.div01{
    display: flex;
    width:100%
}
.social{
    width: 3%;
    margin-right: 2%;
}
.social:hover{
    box-shadow: 0px 2px 9px;
    border-radius: 100px;
    
}