
.div1{
    text-align: left;
    margin-left: 8%;
    background-image: url(../image/walletconnect-header.png);
    background-position: 501px -35px;
    background-size: 510px;
    background-repeat: no-repeat;
    position: relative;
    height: 229px;
    top: 50px;

}
.p{
    padding-right: 650px
}
.bg_black{
    background-color: rgb(32, 28, 28);
    padding: 5%;
}
.bg_white{
    margin: 3%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;

}
.token{
    color: white;
}